.datos {
    background-color: rgb(213, 234, 252);
    padding: 12px 30px;
    text-align: center;
}

.datos form {
    margin: 0 auto;
}

.datos label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.datos input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid#554747;
    border-radius: 5px;
}