.body {
    margin: 0;
    padding: 0;
}

.qr {
    position: relative;
    background-color: rgb(15, 14, 14);
}

.qr img {
    height: 13%;
    margin-left: 30%;
}

.ppal img {
    position: absolute;
    margin-top: -60%;
    margin-left: 0%;
    width: 6vw;
    height: 10%;
    border-radius: 100%;
    border: 7px solid rgba(0, 0, 0, 0.849);
}