        * {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
        
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 110vh;
            background-color: #110e0e;
        }
        
        .container {
            position: relative;
            height: 650px;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .container img {
            width: 98.5vw;
            height: 30%;
            object-fit: cover;
        }
        
        .ppal img {
            position: absolute;
            margin-top: 1%;
            width: 6vw;
            height: 11%;
            border-radius: 100%;
            border: 7px solid rgba(0, 0, 0, 0.849);
        }
        
        .inicio {
            display: flex;
            gap: 10px;
            margin-top: -3%;
        }
        
        .informacion {
            background-color: beige;
            margin-top: -1%;
            padding: 20px 30px;
            font-size: 15px;
        }
        
        .productos {
            background-color: beige;
            margin-top: -1%;
            padding: 20px 30px;
            font-size: 15px;
        }
        
        .combos {
            background-color: beige;
            margin-top: -1%;
            padding: 20px 30px;
            font-size: 15px;
        }
        
        .preventista {
            background-color: beige;
            margin-top: -1%;
            padding: 20px 30px;
            font-size: 15px;
            margin-left: 21.7%;
        }
        
        .ayuda_solidaria {
            background-color: beige;
            margin-top: -1%;
            padding: 20px 15px;
            font-size: 15px;
        }
        
        .datos {
            position: relative;
            margin-top: -4.6%;
            margin-left: 89.6%;
            background-color: rgb(255, 248, 248);
            padding: 20px 30px;
            font-size: 15px;
        }
        
        .pie {
            color: #fff;
            background-color: rgba(151, 47, 44, 0.849);
        }
        
        .logo img {
            position: absolute;
            margin-left: 97%;
            margin-top: -7.5%;
            width: 3%;
            height: 30px;
            border-radius: 50%;
            border: 1px solid rgba(151, 47, 44, 0.849);
        }
        
        .ig img {
            position: absolute;
            margin-left: 97%;
            margin-top: -4%;
            width: 3%;
            height: 30px;
            border-radius: 50%;
            border: 1px solid rgba(151, 47, 44, 0.849);
        }
        
        .tel img {
            position: absolute;
            margin-left: 93%;
            margin-top: -7.4%;
            width: 3%;
            height: 30px;
            border-radius: 30%;
            border: 1px solid rgba(151, 47, 44, 0.849);
        }
        
        .gmail img {
            position: absolute;
            margin-left: 93%;
            margin-top: -4%;
            width: 3%;
            height: 30px;
            border-radius: 50%;
            border: 1px solid rgba(151, 47, 44, 0.849);
        }